<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,184},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image14.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,184},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image19.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image20.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,368},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image21.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,368},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image24.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image25.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image26.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image27.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,552},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image28.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,552},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image30.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image31.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image32.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image33.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image34.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,736},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image35.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,736},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image37.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image38.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image39.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image40.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image41.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,920},{136,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>image42.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,920},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head_icons.png</string>
            <key>size</key>
            <string>{1192,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86eeea7e71bc0efdac1800006ee4f117:2af6219e0d6899174a2866639be9fe24:7aa8c4989f2aaacc37676b4bbf74ae09$</string>
            <key>textureFileName</key>
            <string>head_icons.png</string>
        </dict>
    </dict>
</plist>
